<div>
  <h1>Number Guessing Game</h1>
  
  <p>
    We have selected a random number between 1 and 100.<br />
    See if you can guess it in 10 turns or fewer.<br />
    We'll tell you if your guess was too high or too low.<br />
  </p>
  
  <h2>Enter a guess:</h2>
  
  <div class="input-button">
    <input type="text" placeholder="Enter your guess" [(ngModel)]="inputNumber" />
    <button (click)="onClick()">Enter</button>
  </div>
  
  <div class="input-button" >
    <p>Your Selections:</p>
    <span *ngFor="let number of myNumberArray" class="guess">{{ number }}</span>
  </div>

  <div>
    {{myMessage}}
  </div>
  
  <button (click)="startNewGame()">Start New Game</button>
</div>
  